{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="content">
            {% for book in books %}
                <div class="book">
                    <div class="book col-md-4">
                        <h2>{{ book.name }}</h2>
                        <p>Автор: {{ book.author}}</p>
                        <p>Дата публикации: {{ book.pub_date }}</p>
                    </div>
                </div>
            {% endfor %}
            <p><a href="{% if previous_date %} {% url 'pub_date' pub_date=previous_date %} {% else %} #!; {% endif %}">< {{ previous_date }}</a> <a href="{% if next_date %} {% url 'pub_date' pub_date=next_date %} {% else %} #!; {% endif %}">{{ next_date }} ></a></p>
        </div>
    </div>
{% endblock %}
